<div class="big-card__container">
  <div class="big-cad__phone">
    <img src="https://png.pngtree.com/png-clipart/20210314/big/pngtree-not-loaded-during-loading-png-image_6083139.png" alt="">
  </div>
  <div class="big-card__title">
    <h1>Projeto Angular em desenvolvimento...</h1>
  </div>
  <div class="big-card__description">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste deleniti labore architecto excepturi nostrum quas tempore consequuntur nobis pariatur mollitia quis delectus fuga sapiente in, veritatis, placeat necessitatibus. Velit, quibusdam.</p>
  </div>
</div>
