<div class="big-card__container">
  <div class="big-cad__photo">
    <img src="https://png.pngtree.com/png-clipart/20210314/big/pngtree-not-loaded-during-loading-png-image_6083139.png" alt="">
  </div>
  <div class="big-card__title">
    <h1><a href="#" >Projeto Angular em desenvolvimento...</a></h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="#">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste deleniti labore architecto excepturi nostrum quas tempore consequuntur nobis pariatur mollitia quis delectus fuga sapiente in, veritatis, placeat necessitatibus. Velit, quibusdam.
    </a>
    </p>
  </div>
</div>
