<header>
  <app-menu-bar />
</header>

<app-menu-title />
<div class="articles">
  <div class="articles__main">
    <app-big-card 
      photoCover="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.uuF8kOVu-tNxIVnS9ZYE2QHaEK%26pid%3DApi&f=1&ipt=1ea29c6599f2fa93ea71ff8b779933191aafbe335027559fb8ba838c876b7939&ipo=images"
      cardTitle="NOVO HOMEM DE FERRO ANUNCIADO"
      cardDescription="A Marvel anunciou nesta quinta-feira, dia 5, o novo filme do homem de ferro. O filme que envolve o herói queridinho do público logo estará disponível para assistir em todos os cinemas no Brasil em até 10 dias."
    />
  </div>

  <div class="articles__others">
    <app-small-card
      photoCover="https://ichi.pro/assets/images/max/724/1*oEZC4NSVToygzMWLiVyNmQ.png"
      cardTitle="Projeto Angular em andamento.."
    />

    <app-small-card
      photoCover="https://ichi.pro/assets/images/max/724/1*oEZC4NSVToygzMWLiVyNmQ.png"
      cardTitle="Projeto Angular em andamento.."
    />

    <app-small-card
      photoCover="https://ichi.pro/assets/images/max/724/1*oEZC4NSVToygzMWLiVyNmQ.png"
      cardTitle="Projeto Angular em andamento.."
    />
  
  </div>
</div>
